p{
    font-size: smaller;
    font-weight: 700;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

nav{
    z-index: 100;
    top: 0;
}
.logo img {
    background: transparent;
    height: 4.625rem;
}
.art-live-text-font h1{
   font-size: xx-large;
    font-weight: 700;
}
.btnclr{
    background-color: #6d4cd4;
}
.input-n{
    padding: 20px;
}
.card-btn {
    background-color: #6D4CD4;
    color: white;
}
.card-btn:hover{
    background-color:white;
    border: 2px solid #6d4cd4;
    color: #6d4cd4;
}
.btn{
    font-weight: 450;
}
.btn-n{
    color: #6d4cd4;
    border: 2px solid #6d4cd4;
}
.base-text-color{
    color:#6D4CD4;
}
.l-white-color{
    color:rgb(158, 158, 158) ;
}
.shorthand {
    text-decoration: underline solid #6d4cd4 5px;
    color: transparent;
  }
  .shorthand-1 {
    text-decoration: underline solid #6d4cd4 5px;
  }
  
.dem-back{
    background: rgb(148, 148, 148);
}

.card img{
    height: 300px;
}
.navbar-nav a{
    font-size: small;
    font-weight: 700;
}